<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <include file="$(find sphero_bolt_driver)/launch/single_sphero.launch">
        <arg name="robot_no" value="01"/>
    </include>

    <include file="$(find sphero_bolt_driver)/launch/single_sphero.launch">
        <arg name="robot_no" value="02"/>
    </include>

</launch>