<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <include file="$(find sphero_bolt_driver)/launch/single_sphero_driver.launch">
        <arg name="robot_no" value="03"/>
    </include>

    <include file="$(find sphero_bolt_driver)/launch/single_sphero_driver.launch">
        <arg name="robot_no" value="06"/>
    </include>

    <include file="$(find sphero_bolt_driver)/launch/single_sphero_driver.launch">
        <arg name="robot_no" value="07"/>
    </include>

</launch>