<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <arg name="robot_no" doc="Two digits robot number"/>
    <arg name="id_file" default="$(find sphero_bolt_driver)/config/robot_$(arg robot_no).yaml" doc="File with ID number"/>
    <arg name="params_file" default="$(find sphero_bolt_driver)/config/params_dm.yaml" doc="File with robot configuration"/>

    <group ns="robot_$(arg robot_no)">
        <rosparam command="load" file="$(arg id_file)" />
        <rosparam command="load" file="$(arg params_file)" />
        <node name="sphero_driver" pkg="sphero_bolt_driver" type="sphero_bolt_driver_node.py" output="screen" required="false" respawn="true" respawn_delay="20">
        </node>
    </group>

</launch>